body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 0 50px;
    background-color: #EBD3FF;
}

main {
    display: flex;
    justify-content: space-between;
}

h1 {
  font-style: italic;
}

.filter__input {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #333;
    display: block;
    width: 80%;
}


.section {
    width: 48%;
    background-color: #EBD3FF;
    height: auto;
}
.table {
    border: 1px solid #333;
    background-color: white;
    height: 600px;
}

.header {
    display: flex;
    background-color: #333;
    font-weight: bold;
    color: white;
    padding: 5px;
}
.header-cell {
    width: 10px;
    margin-left: 10px;
}
.header-cell-short {
    flex-shrink: 0;
    width: 50px;
}


.table__row {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid #333;
}

.table__row:hover {
    background-color: #EBD3FF;
}

div.table > div:nth-of-type(odd) {
    background: #C68EE4;
}
div.table > div:nth-of-type(odd):hover {
  background-color: #EBD3FF;
}

.table__cell {
    margin-right: 10px;
    pointer-events: none;
}
.table__cell--short {
    flex-shrink: 0;
    width: 50px;
    pointer-events: none;
}
.table__cell:last-child {
    margin-right: 0px;
}

/* Draggable Items Modifiers */

[data-draggable="target"]
{
	overflow-y:auto;
}

[data-draggable="target"][aria-dropeffect="move"]
{
	border-color:#68b;

	background:#fff;
}

[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover
{
	outline:none;
}

[data-draggable="item"][aria-grabbed="true"]
{
	background:#8ad;
	color:#fff;
}
